.body {
  background-image: 
  /* url(https://cdn.pixabay.com/photo/2017/06/15/17/31/background-2406119_1280.jpg); */
  /* url(https://cdn.pixabay.com/photo/2016/10/29/01/43/abstract-1779644_640.png);  */
  url(https://cdn.pixabay.com/photo/2016/08/31/17/02/blue-1634110_1280.png);
  background-position: center;
}

.App {
  text-align: center;
  padding: 2%;
}

.AppAreaButtons {
  margin: 2% 10%;
}

/* user icon with play icon */ 
.userPlay {
  position: absolute; 
}

/* just the user icon*/ 
.user {
 position: relative;
 color: #13138a;
 font-size: 350%;
}

/* just the play button */ 
.play {
 position: absolute;
 color: #3bd1b3;
 height: 10px;
}