.body {
  background-color: lightgray;
}

.App {
  text-align: center;
}

.textArea {
  margin: 0 60px;
}

/* top font icons position */
.iconsTop {
    position: relative;
    top: 40px;
    left: 40%;
}

/* top font icons design */
.iconfont {
    color: #3bd1b3;
    background: #13138a;
    padding: 1.2%;
    margin: .5%;
    border-radius: 20%;
}

/* user icon with play icon */ 
.userPlay {
   position: absolute; 
  
}

/* just the user icon*/ 
.user {
  position: relative;
  color: #13138a;
  font-size: 350%;
}

/* just the play button */ 
.play {
  position: absolute;
  color: #3bd1b3;
  height: 10px;
}


/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
