.body {
  /* background-color: #c9eee7; */
  background-image: 
  /* url(https://cdn.pixabay.com/photo/2017/06/15/17/31/background-2406119_1280.jpg); */
  /* url(https://cdn.pixabay.com/photo/2016/10/29/01/43/abstract-1779644_640.png);  */
  url(https://cdn.pixabay.com/photo/2016/08/31/17/02/blue-1634110_1280.png); 
  background-position: center;
}



.App {
  text-align: center;

}

.AppArea {
  margin: 1% 10%;
}

/* user icon with play icon */ 
.userPlay {
  position: absolute; 
 
}

/* just the user icon*/ 
.user {
 position: relative;
 color: #13138a;
 font-size: 350%;
}

/* just the play button */ 
.play {
 position: absolute;
 color: #3bd1b3;
 height: 10px;
}


/* top font icons design */
/* .iconfont {
    color: #3bd1b3;
    background: #13138a;
    padding: 1.2%;
    margin: .5%;
    border-radius: 20%;
} */

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
